* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: wheat;
  height: 100vh;
  position: relative;
}
.container {
  width: 700px;
  box-shadow: 5px 5px 15px black;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border-top: 5px solid orange;
  border-radius: 5px;
  background-color: #fff;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 300px;
  margin-top: 10px;
  color: orange;
  font-size: 20px;
}
.top img {
  height: 25px;
}
.text {
  width: 600px;
  margin: 30px auto;
  padding-left: 11px;
}
.text-content ul {
  padding-left: 15px;
  margin-top: 20px;
  line-height: 25px;
  color: gray;
}
